option_settings:
  aws:elasticbeanstalk:application:environment:
    DATABASE_URL: "flaskdb.ck7aoo2g0l5j.us-east-1.rds.amazonaws.com"
packages:
  yum:
    postgresql-devel: []


MY_IP=$(curl -s http://checkip.amazonaws.com)
aws ec2 authorize-security-group-ingress \
    --group-id 	sg-035ba6006882609d7 \
    --protocol tcp \
    --port 5432 \
    --cidr ${MY_IP}/32



